{% extends "mainpage/base.html" %}
{% load static %}

{% block title %}RSVP{% endblock %}
{% block content %}
    <div id="fill620">
        Please could we ask you to return your RSVP as soon as possible.
        <p>You can either send the RSVP by...
            <ul>
                 <li>- sending it back in the provided envelope</li>
                 <li>- email us @ <a href="mailto:lisaandalexwedding@outlook.com" target="_top">LisaandAlexWedding@outlook.com</a></li>                 
            </ul>
        </p>
        <p>The following details are to consider when returning your RSVP:
            <ul>        
                <li>- If you are able to attend or not</li>
                <li>- what main course you would prefer for the wedding breakfast</li>
                <li>- IMPORTANT: special dietry requirements or allergies we have to tell our caterers</li>
                <li>(- a song request you would like us to forward to our DJ)</li>
            </ul>
        </p>
        <div style="width: 420px; height: 150px; margin: auto; display: flex; background-color: #ffffff;"><p>PLACEHOLDER FOR PICTURE OF THE RSVP CARD</p></div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}